  <tr>
    <h1><td><%= @place.place_name %></td></h1>
    <h2><td><%= @place.owner %></td></h2>
    <p><td><%= @place.short_description %></td></p>
    <p><td><%= @place.address %></td></p>
    <p><td><%= @place.website %></td></p>
    <p><td><%= @place.email %></td></p>
    <p><td><%= @place.telephone %></td></p>
    <p><td><%= @place.opening_hours %></td></p>
    <p><td><%= @place.passion_quote %></td></p>
    <p><td><%= @place.passion_text %></td></p>
  </tr>
